<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-container ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Performance Indicator</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="goBack()" class="btn btn-outline-primary blue">
                            <i class="fa fa-reply"></i>
                            {{l("Back")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-container kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body  ">
                    <form *ngIf="active" #performanceIndicatorForm="ngForm" novalidate  autocomplete="off">
                        <div class="form-group">
                            <label for="performanceIndicator_MDA">{{l("MDA")}}</label>
                            <input type="text" id="performanceIndicator_MDA" class="form-control"
                                [(ngModel)]="mdaName" name="MDA" readonly disabled />
                        </div>

                        <div class="form-group">
                            <label for="performanceIndicator_Deliverable">{{l("Deliverable")}}</label>
                            <input type="text" id="performanceIndicator_Deliverable" class="form-control"
                                [(ngModel)]="deliverableName" name="Deliverable" readonly disabled />
                        </div>

                        <div class="form-group">
                            <label for="performanceIndicator_Name">{{l("Indicator")}}</label>
                            <input type="text" id="performanceIndicator_Name" class="form-control"
                                [(ngModel)]="performanceIndicator.name" name="Name" readonly disabled />
                        </div>
    
                        <div class="form-group">
                            <label for="performanceIndicator_Description">{{l("Description")}}</label>
                            <textarea id="performanceIndicator_Description" class="form-control" rows="5" readonly disabled
                                [(ngModel)]="performanceIndicator.description" name="Description"></textarea>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-6">
                                <label for="performanceIndicator_BaselineValue">{{l("BaselineValue")}}</label>    
                                <div *ngIf="performanceIndicator.dataType == dataTypeEnum.Number" class="input-group">
                                    <div *ngIf="performanceIndicator.unit == unitEnum.Money"
                                        class="input-group-prepend">
                                        <span class="input-group-text">NGN</span>
                                    </div>
                                    <input type="number" id="performanceIndicator_BaselineValue" class="form-control" readonly disabled
                                        [(ngModel)]="performanceIndicator.baselineValue" name="BaselineValue" />
                                    <div *ngIf="performanceIndicator.unit == unitEnum.Percentage"
                                        class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                    </div>
                                </div>

                                <input *ngIf="performanceIndicator.dataType == dataTypeEnum.DateTime" type="text"
                                    id="performanceIndicator_BaselineValue" class="form-control" disabled readonly
                                    [value]="performanceIndicator.baselineValue | momentFormat:'DD-MMM-YYYY'" name="BaselineValue" />
                                <input type="text" *ngIf="performanceIndicator.dataType == dataTypeEnum.Boolean"
                                    id="performanceIndicator_BaselineValue" class="form-control" disabled readonly
                                    [(ngModel)]="performanceIndicator.baselineValue" name="BaselineValue" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-8">
                                <label for="performanceIndicator_BaselineComment">{{l("BaselineComment")}}</label>
                                <textarea id="performanceIndicator_BaselineComment" class="form-control" rows="3"
                                    [(ngModel)]="performanceIndicator.baselineComment" readonly disabled
                                    name="BaselineComment"></textarea>
                            </div>
                        </div>

                    </form>

                    <!--begin::Accordion-->
                    <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionAttachment">
                        <div class="card">
                            <div class="card-header" id="attachmentHeading">
                                <div class="card-title" (click)="showAttachmentAccordion = !showAttachmentAccordion"
                                    [ngClass]="{collapsed: !showAttachmentAccordion}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--success2">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M4,4 L20,4 C21.1045695,4 22,4.8954305 22,6 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,6 C2,4.8954305 2.8954305,4 4,4 Z" fill="#000000" opacity="0.3"/>
                                            <path d="M18.5,11 L5.5,11 C4.67157288,11 4,11.6715729 4,12.5 L4,13 L8.58578644,13 C8.85100293,13 9.10535684,13.1053568 9.29289322,13.2928932 L10.2928932,14.2928932 C10.7456461,14.7456461 11.3597108,15 12,15 C12.6402892,15 13.2543539,14.7456461 13.7071068,14.2928932 L14.7071068,13.2928932 C14.8946432,13.1053568 15.1489971,13 15.4142136,13 L20,13 L20,12.5 C20,11.6715729 19.3284271,11 18.5,11 Z" fill="#000000"/>
                                            <path d="M5.5,6 C4.67157288,6 4,6.67157288 4,7.5 L4,8 L20,8 L20,7.5 C20,6.67157288 19.3284271,6 18.5,6 L5.5,6 Z" fill="#000000"/>
                                        </g>
                                    </svg>
                                    <span>Attachments</span>
                                </div>
                            </div>
                            <div id="attachmentBody" class="collapse" [ngClass]="{ show: showAttachmentAccordion }">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <hr>
                                        <table class="table">
                                            <thead>
                                                <tr class="d-flex">
                                                    <th class="col-md">{{l('IndicatorTargetYear')}}</th>
                                                    <th class="col-md">Comparison Method</th>
                                                    <th class="col-md">{{l('IndicatorTargetValue')}}</th>
                                                    <th class="col-md">{{l('IndicatorActualValue')}}</th>
                                                    <th class="col-md">Last updated</th>
                                                    <th class="col-md"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex" *ngFor="let item of yearlyTargets; let i = index;">
                                                    <td class="col-md">{{item.target.year}}</td>
                                                    <td class="col-md">
                                                        {{item.target.comparisonMethod == comparisonMethodEnum.LessThanOrEqual ? 'Less than or equal to' : 'Greater than or equal to'}}
                                                    </td>
                                                    <td class="col-md">
                                                        <span *ngIf="performanceIndicator.dataType == dataTypeEnum.Number">
                                                            {{performanceIndicator.unit == unitEnum.Money ? 'NGN ' : ''}}
                                                            {{item.target.target | number: '1.0-2'}}
                                                            {{performanceIndicator.unit == unitEnum.Percentage ? '%' : ''}}
                                                        </span>
                                                        <span *ngIf="performanceIndicator.dataType == dataTypeEnum.DateTime">
                                                            {{item.target.target | momentFormat:'DD-MMM-YYYY'}}
                                                        </span>
                                                        <span *ngIf="performanceIndicator.dataType == dataTypeEnum.Boolean">
                                                            {{item.target.target}}
                                                        </span>
                                                    </td>
                                                    <td class="col-md">
                                                        <span *ngIf="performanceIndicator.dataType == dataTypeEnum.Number && item.target.actual">
                                                            {{performanceIndicator.unit == unitEnum.Money ? 'NGN ' : ''}}
                                                            {{item.target.actual | number: '1.0-2'}}
                                                            {{performanceIndicator.unit == unitEnum.Percentage ? '%' : ''}}
                                                        </span>
                                                        <span *ngIf="performanceIndicator.dataType == dataTypeEnum.DateTime && item.target.actual">
                                                            {{item.target.actual | momentFormat:'DD-MMM-YYYY'}}
                                                        </span>
                                                        <span *ngIf="performanceIndicator.dataType == dataTypeEnum.Boolean && item.target.actual">
                                                            {{item.target.actual }}
                                                        </span>
                                                    </td>
                                                    <td class="col-md">
                                                        <span *ngIf="item.target.lastUpdated">
                                                            {{item.target.lastUpdated | momentFormat:'DD-MMM-YYYY hh:mm:ss'}}
                                                        </span>
                                                        <span *ngIf="!item.target.lastUpdated">-</span>
                                                    </td>
                                                    <td class="col-md">
                                                        <div class="btn-group" role="group" aria-label="First group">
                                                            <button *ngIf="isGranted('Pages.PerformanceIndicator.Update')"
                                                                data-toggle="tooltip" title="Update target's progress" data-placement="top"
                                                                class="btn btn-sm btn-outline-primary" type="button" (click)="updateTarget(item)">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button class="btn btn-sm btn-outline-primary" 
                                                                data-toggle="tooltip" title="View audit log" data-placement="top"
                                                                type="button" (click)="showHistory(item.target)">
                                                                <i class="fa fa-list-ul"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="yearlyTargets.length <= 0">
                                                    <td colspan="3">No targets added</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <app-target-update-modal #updateTargetModal (modalSave)="reload()"></app-target-update-modal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <app-view-target-progress-log-modal #progressUpdateLogModal></app-view-target-progress-log-modal>

    </div>
</div>
