<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #performanceActivityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="performanceActivity.id">{{l("EditPerformanceActivity")}}</span>
                        <span *ngIf="!performanceActivity.id">{{l("CreateNewPerformanceActivity")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="performanceActivity_Name">{{l("Name")}}</label>
                        <input type="text" id="performanceActivity_Name" class="form-control"
                            [(ngModel)]="performanceActivity.name" name="Name" required />
                    </div>

                    <div class="form-group">
                        <label for="performanceActivity_Description">{{l("Description")}}</label>
                        <textarea id="performanceActivity_Description" class="form-control" rows="5"
                            [(ngModel)]="performanceActivity.description" name="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="performanceActivity_MilestoneAchieved">{{l("MilestonesAchieved")}}</label>
                        <textarea id="performanceActivity_MilestoneAchieved" class="form-control" rows="5"
                            [(ngModel)]="performanceActivity.milestoneAchieved" name="MilestoneAchieved"></textarea>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="performanceActivity_PlannedStartDate">{{l("PlannedStartDate")}} <span class="kt-font-danger">*</span></label>
                            <input required class="form-control m-input" type="datetime" bsDatepicker
                                [(ngModel)]="performanceActivity.plannedStartDate._d" id="performanceActivity_PlannedStartDate"
                                name="performanceActivity_PlannedStartDate">
                        </div>
                        <div class="col-md-6">
                            <label for="performanceActivity_PlannedCompletionDate">{{l("PlannedCompletionDate")}} <span class="kt-font-danger">*</span></label>
                            <input required class="form-control m-input" type="datetime" bsDatepicker
                                [(ngModel)]="performanceActivity.plannedCompletionDate._d" id="performanceActivity_PlannedCompletionDate"
                                name="performanceActivity_PlannedCompletionDate">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!performanceActivityForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>

    </div>
</div>