<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-container ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Activity Details</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="updateProgress()" class="btn btn-primary blue">
                            <i class="fa fa-edit"></i>
                            Update Progress
                        </button>
                        <button (click)="goBack()" class="btn btn-outline-primary blue">
                            <i class="fa fa-reply"></i>
                            {{l("Back")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-container kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <label for="performanceIndicator_MDA">{{l("MDA")}}</label>
                        <input type="text" id="performanceIndicator_MDA" class="form-control"
                            [(ngModel)]="mdaName" name="MDA" readonly disabled />
                    </div>

                    <div class="form-group">
                        <label for="performanceIndicator_Deliverable">{{l("Deliverable")}}</label>
                        <input type="text" id="performanceIndicator_Deliverable" class="form-control"
                            [(ngModel)]="deliverableName" name="Deliverable" readonly disabled />
                    </div>
                    
                    <div class="form-group">
                        <label for="performanceActivity_Name">{{l("Activity")}}</label>
                        <input type="text" id="performanceActivity_Name" class="form-control" readonly disabled
                            [(ngModel)]="performanceActivity.name" name="Name"  />
                    </div>

                    <div class="form-group">
                        <label for="performanceActivity_Description">{{l("Description")}}</label>
                        <textarea id="performanceActivity_Description" class="form-control" rows="5" readonly disabled
                            [(ngModel)]="performanceActivity.description" name="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="performanceActivity_MilestoneAchieved">{{l("MilestonesAchieved")}}</label>
                        <textarea id="performanceActivity_MilestoneAchieved" class="form-control" rows="5" readonly disabled
                            [(ngModel)]="performanceActivity.milestoneAchieved" name="MilestoneAchieved"></textarea>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="performanceActivity_PlannedStartDate">{{l("PlannedStartDate")}}</label>
                            <input required class="form-control m-input" type="datetime" readonly disabled
                                [value]="performanceActivity.plannedStartDate | momentFormat:'LL'" id="performanceActivity_PlannedStartDate"
                                name="performanceActivity_PlannedStartDate">
                        </div>
                        <div class="col-md-6">
                            <label for="performanceActivity_PlannedCompletionDate">{{l("PlannedCompletionDate")}}</label>
                            <input required class="form-control m-input" type="text" readonly disabled
                                [value]="performanceActivity.plannedCompletionDate | momentFormat:'LL'" id="performanceActivity_PlannedCompletionDate"
                                name="performanceActivity_PlannedCompletionDate">
                        </div>
                    </div>

                    <div class="form-group row">     
                        <div class="col-md-12">
                            <label class="" for="Blanc">Completion Level</label>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{performanceActivity.completionLevel === 100 ? 'success' : 'warning'}}" 
                                    role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [style.width]="performanceActivity.completionLevel + '%'">
                                    {{performanceActivity.completionLevel}}%
                                </div>
                            </div>
                        </div>                  
                    </div>

                    <div class="form-group row">
                        <div *ngIf="performanceActivity.completionStatus !== completionStatusEnum.NotStarted" class="col-md-6">
                            <label for="performanceActivity_actualStartDate">{{l("ActualStartDate")}}</label>
                            <input required class="form-control m-input" type="datetime" readonly disabled
                                [value]="performanceActivity.actualStartDate | momentFormat:'LL'" id="performanceActivity_actualStartDate"
                                name="performanceActivity_actualStartDate">
                        </div>
                        <div *ngIf="performanceActivity.completionStatus === completionStatusEnum.Completed" class="col-md-6">
                            <label for="performanceActivity_actualCompletionDate">{{l("ActualCompletionDate")}}</label>
                            <input required class="form-control m-input" type="datetime" readonly disabled
                                [value]="performanceActivity.actualCompletionDate | momentFormat:'LL'" id="performanceActivity_actualCompletionDate"
                                name="performanceActivity_actualCompletionDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="performanceActivity_Comment">Additional Information</label>
                        <p-editor [(ngModel)]="performanceActivity.note" name="Comment" [style]="{'height':'150px'}" [readonly]="true" [disabled]="true"></p-editor>
                    </div>

                    <!--begin::Accordion-->
                    <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionAttachment">
                        <div class="card">
                            <div class="card-header" id="auditHeading">
                                <div class="card-title" (click)="showAttachmentAccordion = !showAttachmentAccordion"
                                    [ngClass]="{collapsed: !showAttachmentAccordion}">
                                    <i class="fa fa-paperclip font-primary"></i>
                                    <span>Attachments</span>
                                </div>
                            </div>
                            <div id="auditBody" class="collapse" [ngClass]="{ show: showAttachmentAccordion }">
                                <div class="card-body pt-3">
                                    <div class="form-group">
                                        <ul *ngIf="attachments.length > 0">
                                            <li *ngFor="let file of attachments">
                                                <a href="{{downloadResourceFile(file)}}" class="text-info" target="_blank"
                                                    title="{{l('DownloadFile')}}">
                                                    <span>
                                                        <i class="fa fa-download"></i>&nbsp;<span>{{file.fileName}}</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <p *ngIf="attachments.length == 0">No attachments found</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="auditHeading">
                                <div class="card-title pr-2" (click)="showAuditInfoAccordion = !showAuditInfoAccordion"
                                    [ngClass]="{collapsed: !showAuditInfoAccordion}">
                                    <i class="fa fa-th-list font-primary"></i>
                                    <span>Audit Info</span>
                                </div>
                            </div>
                            <div id="auditBody" class="collapse" [ngClass]="{ show: showAuditInfoAccordion }">
                                <div class="card-body pt-3">
                                    <div class="form-group row pt-3">
                                        <div class="col-md-6">
                                            <label for="auditInfo_dateCreated">Date Created</label>    
                                            <input type="text" id="auditInfo_dateCreated" class="form-control" readonly disabled
                                                    [value]="auditInfo.createdDate | momentFormat:'DD-MMM-YYYY hh:mm:ss'" name="auditInfo_dateCreated" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="auditInfo_createdBy">Created By</label>    
                                            <input type="text" id="auditInfo_createdBy" class="form-control" readonly disabled
                                                    [(ngModel)]="auditInfo.createdBy" name="auditInfo_createdBy" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="auditInfo_updateDate">Date Last Updated</label>    
                                            <input type="text" id="auditInfo_updateDate" class="form-control" readonly disabled
                                                    [value]="auditInfo.lastUpdatedDate | momentFormat:'DD-MMM-YYYY hh:mm:ss'" name="auditInfo_updateDate" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="auditInfo_updateBy">Lasted Updated By</label>    
                                            <input type="text" id="auditInfo_updateBy" class="form-control" readonly disabled
                                                    [(ngModel)]="auditInfo.lastUpdatedBy" name="auditInfo_updateBy" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
