<!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->

<div [@routerTransition] id="TenantDashboard">

    <div #content class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item" style="height: 60px;">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Priority Area </span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        Status Report
                    </span>
                </div>
                <div class="kt-subheader__toolbar no-print">
                    <div class="kt-subheader__wrapper">
                        <button (click)="print()" class="btn btn-outline-primary blue">
                            <i class="fa fa-print"></i>
                            {{l("Print")}}
                        </button>
                        <button (click)="goBack()" class="btn btn-outline-primary blue">
                            <i class="fa fa-reply"></i>
                            {{l("Back")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">

            <div class="kt-portlet">
                <!-- <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span></span>
                        </h3>
                    </div>
                </div> -->
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <label for="areaName">{{l("Name")}}</label>
                        <div type="text" id="performanceIndicator_MDA" class="form-control form-control-disabled"
                            name="MDA" readonly disabled> {{ priorityArea.name}} </div>

                    </div>

                    <div class="form-group">
                        <label for="areaDescription">{{l("Description")}}</label>
                        <div type="text" id="areaDescription" class="form-control form-control-disabled"
                            style="height: 100px;" name="areaDescription" readonly disabled>
                            {{priorityArea.description}} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="" for="Blanc">Percentage Achieved</label>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{percentageAchieved === 100 ? 'success' : 'warning'}}"
                                    role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                                    [style.width]="percentageAchieved + '%'">
                                    {{percentageAchieved | number:'1.2-2'}}%
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="ReportDate">Report as at</label>
                            <div type="text" id="ReportDate" class="form-control form-control-disabled"
                                name="ReportDate" readonly disabled> {{ reportDate | momentFormat:'DD-MMM-YYYY hh:mm'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="loading" class="progress progress-lg mt-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Loading...
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Deliverables
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">

                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group no-print">
                                <label>Select MDA</label>
                                <select class="form-control m-input" name="mdaFilter" id="mdaFilter"
                                    [(ngModel)]="selectedMda" (change)="filerByMda()">
                                    <option [value]="-1">All MDAs</option>
                                    <option *ngFor="let mda of mdaList" [value]="mda.value">{{mda.name}}</option>
                                </select>
                            </div>
                            <div class="table-responsive">
                                <div class="table table-hover">
                                    <span *ngFor="let item of filteredDeliverables">
                                        <span
                                            (click)="selectedDeliverableId = item.deliverable.id; filterByDeliverable();">
                                            {{item.deliverable.displayName}}<br>
                                            <small class="form-text text-muted">MDA: {{ item.mdaName }}</small>
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{item.percentageAchieved === 100 ? 'success' : 'warning'}}"
                                                    role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                                    aria-valuemax="100" [style.width]="item.percentageAchieved + '%'">
                                                    {{item.percentageAchieved}}%
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Budget Amount: 
                                                        <span *ngIf="item.deliverable.budgetAmount">NGN {{item.deliverable.budgetAmount | number: '1.2-2'}}</span>
                                                    </small>                                                
                                                </div>
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Amount Spent:
                                                        <span *ngIf="item.deliverable.amountSpent">NGN {{item.deliverable.amountSpent | number: '1.2-2'}}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </span>
                                        <div class="kt-separator kt-separator--border-solid"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span>Other Information</span>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <div class="table-responsive">
                                <div class="table table-hover">
                                    <div *ngFor="let review of filteredReviews">
                                        <div>
                                            <small class="form-text text-muted">Achievements:</small><br>
                                            <span [innerHTML]="review.review.reviewComment"></span><br>
                                            <small class="form-text text-muted">Challenges:</small><br>
                                            <span [innerHTML]="review.review.challenges"></span><br>
                                            <small class="form-text text-muted">Recommendations:</small><br>
                                            <span [innerHTML]="review.review.recommendation"></span><br><br>
                                            <small class="form-text text-muted">Deliverable:
                                                {{ review.deliverableName }}</small>
                                        </div>
                                        <div class="kt-separator kt-separator--border-solid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span>Indicators</span>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group no-print">
                                <div class="">
                                    <label>Select a Deliverable</label>
                                    <select class="form-control m-input" name="deliverableFilter" id="deliverableFilter"
                                        [(ngModel)]="selectedDeliverableId" (change)="filterByDeliverable()">
                                        <option [value]="-1">{{selectDeliverableDefaultLabel}}</option>
                                        <option *ngFor="let deliverable of filteredDeliverables"
                                            [value]="deliverable.deliverable.id">
                                            {{ deliverable.deliverable.displayName }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="table table-hover">
                                    <div *ngFor="let indicator of filteredIndicators">
                                        <div>
                                            {{indicator.performanceIndicator.name}}<br>
                                            <small class="form-text text-muted">Deliverable:
                                                {{ indicator.deliverableName }}</small>
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ indicator.performanceIndicator.percentageAchieved === 100 ? 'success' : 'warning'}}"
                                                    role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    [style.width]="indicator.performanceIndicator.percentageAchieved + '%'">
                                                    {{ indicator.performanceIndicator.percentageAchieved }}%
                                                </div>
                                            </div>
                                            <div *ngFor="let target of indicator.targets" class="row">
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Target Value: <span *ngIf="indicator.performanceIndicator.unit == unitEnum.Money">NGN</span>
                                                                <span *ngIf="indicator.performanceIndicator.dataType == dataTypeEnum.Number">{{target.target.target | number:'1.2-2'}}</span>
                                                                <span *ngIf="indicator.performanceIndicator.dataType != dataTypeEnum.Number">{{target.target.target}}</span>
                                                                <span *ngIf="indicator.performanceIndicator.unit == unitEnum.Percentage">%</span> 
                                                    </small>
                                                </div>
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Actual Value: <span *ngIf="indicator.performanceIndicator.unit == unitEnum.Money && target.target.actual">NGN</span> 
                                                                  <span *ngIf="indicator.performanceIndicator.dataType == dataTypeEnum.Number">{{target.target.actual | number:'1.2-2'}}</span>
                                                                  <span *ngIf="indicator.performanceIndicator.dataType != dataTypeEnum.Number">{{target.target.actual}}</span>
                                                                  <span *ngIf="indicator.performanceIndicator.unit == unitEnum.Percentage && target.target.actual">%</span> 
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-separator kt-separator--border-solid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span>Activities</span>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="table-responsive">
                                <div class="table table-hover">
                                    <div *ngFor="let activty of filteredActivities">
                                        <div>
                                            {{ activty.performanceActivity.name }}<br>
                                            <small class="form-text text-muted">Deliverable:
                                                {{ activty.deliverableName }}</small>
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ activty.performanceActivity.completionLevel === 100 ? 'success' : 'warning'}}"
                                                    role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    [style.width]="activty.performanceActivity.completionLevel + '%'">
                                                    {{ activty.performanceActivity.completionLevel }}%
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                    Budget Amount: 
                                                    <span *ngIf="activty.performanceActivity.budgetAmount">NGN {{activty.performanceActivity.budgetAmount | number: '1.2-2'}}</span>
                                                    </small>
                                                </div>
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                    Amount Spent:
                                                    <span *ngIf="activty.performanceActivity.amountSpent">NGN {{activty.performanceActivity.amountSpent | number: '1.2-2'}}</span>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Planned Start Date: 
                                                        <span *ngIf="activty.performanceActivity.plannedStartDate">{{activty.performanceActivity.plannedStartDate | momentFormat: 'DD-MMM-YYYY'}}</span>
                                                        <span *ngIf="!activty.performanceActivity.plannedStartDate">-</span>
                                                    </small>
                                                </div>
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Actual Start Date: 
                                                        <span *ngIf="activty.performanceActivity.actualStartDate">{{activty.performanceActivity.actualStartDate | momentFormat: 'DD-MMM-YYYY'}}</span>
                                                        <span *ngIf="!activty.performanceActivity.actualStartDate">-</span>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Planned Completion Date: 
                                                        <span *ngIf="activty.performanceActivity.plannedCompletionDate">{{activty.performanceActivity.plannedCompletionDate | momentFormat: 'DD-MMM-YYYY'}}</span>
                                                        <span *ngIf="!activty.performanceActivity.plannedCompletionDate">-</span>
                                                    </small>
                                                </div>
                                                <div class="col-6">
                                                    <small class="form-text text-muted">
                                                        Actual Completion Date: 
                                                        <span *ngIf="activty.performanceActivity.actualCompletionDate">{{activty.performanceActivity.actualCompletionDate | momentFormat: 'DD-MMM-YYYY'}}</span>
                                                        <span *ngIf="!activty.performanceActivity.actualCompletionDate">-</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-separator kt-separator--border-solid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
