<!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->

<div [@routerTransition] id="TenantDashboard">

    <div #content class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item" style="height: 60px;">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Priority Area </span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        Status Report
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="goBack()" class="btn btn-outline-primary blue">
                            <i class="fa fa-reply"></i>
                            {{l("Back")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">

            <div class="kt-portlet">
                <!-- <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span></span>
                        </h3>
                    </div>
                </div> -->
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <label for="areaName">{{l("Name")}}</label>
                        <div type="text" id="performanceIndicator_MDA" class="form-control form-control-disabled"
                            name="MDA" readonly disabled> {{ priorityArea.name}} </div>

                    </div>

                    <div class="form-group">
                        <label for="areaDescription">{{l("Description")}}</label>
                        <div type="text" id="areaDescription" class="form-control form-control-disabled"
                             name="areaDescription" readonly disabled > {{priorityArea.description}} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="" for="Blanc">Percentage Achieved</label>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{percentageAchieved === 100 ? 'success' : 'warning'}}"
                                    role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [style.width]="percentageAchieved + '%'">
                                    {{percentageAchieved}}%
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="ReportDate">Report as at</label>
                            <div type="text" id="ReportDate" class="form-control form-control-disabled"
                                 name="ReportDate" readonly disabled > {{ reportDate | momentFormat:'DD-MMM-YYYY hh:mm'}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="loading" class="progress progress-lg mt-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                    role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Loading...
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                        Deliverables
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">

                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label>Select MDA</label>
                                <select class="form-control m-input" name="mdaFilter" id="mdaFilter"
                                    [(ngModel)]="selectedMda" (change)="filerByMda()">
                                    <option [value]="-1">All MDAs</option>
                                    <option *ngFor="let mda of mdaList" [value]="mda.value">{{mda.name}}</option>
                                </select>
                            </div>
                            <div class="table-responsive">
                                <div class="table table-hover">
                                        <span *ngFor="let item of filteredDeliverables">
                                            <span (click)="selectedDeliverableId = item.deliverable.id; filterByDeliverable()">
                                                {{item.deliverable.displayName}}<br>
                                                <small class="form-text text-muted">MDA: {{ item.mdaName }}</small>
                                                <div class="progress progress-sm mt-2">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{item.percentageAchieved === 100 ? 'success' : 'warning'}}"
                                                        role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [style.width]="item.percentageAchieved + '%'">
                                                        {{item.percentageAchieved}}%
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span>Reviews</span>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <div class="table-responsive">
                                <div class="table table-hover">
                                        <div *ngFor="let review of filteredReviews">
                                            <div >
                                                <span [innerHTML]="review.review.reviewComment"></span>
                                                <small class="form-text text-muted">Deliverable: {{ review.deliverableName }}</small>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span>Indicators</span>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Select a Deliverable</label>
                                    <select class="form-control m-input" name="deliverableFilter" id="deliverableFilter"
                                        [(ngModel)]="selectedDeliverableId" (change)="filterByDeliverable()">
                                        <option [value]="-1">{{l("All deliverables")}}</option>
                                        <option *ngFor="let deliverable of deliverables" [value]="deliverable.deliverable.id">{{ deliverable.deliverable.displayName }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="table table-hover">
                                        <div *ngFor="let indicator of filteredIndicators">
                                            <div >
                                                {{indicator.performanceIndicator.name}}<br>
                                                <small class="form-text text-muted">Deliverable: {{ indicator.deliverableName }}</small>
                                                <div class="progress progress-sm mt-2">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ indicator.performanceIndicator.percentageAchieved === 100 ? 'success' : 'warning'}}"
                                                        role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [style.width]="indicator.performanceIndicator.percentageAchieved + '%'">
                                                        {{ indicator.performanceIndicator.percentageAchieved }}%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span>Activities</span>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="table-responsive">
                                <div class="table table-hover">
                                        <div *ngFor="let activty of filteredActivities">
                                            <div >
                                                {{ activty.performanceActivity.name }}<br>
                                                <small class="form-text text-muted">Deliverable: {{ activty.deliverableName }}</small>
                                                <div class="progress progress-sm mt-2">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ activty.performanceActivity.completionLevel === 100 ? 'success' : 'warning'}}"
                                                        role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [style.width]="activty.performanceActivity.completionLevel + '%'">
                                                        {{ activty.performanceActivity.completionLevel }}%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button [disabled]="loading" (click)="print()" class="btn btn-outline-primary blue float-right">
                        <i class="fa fa-print"></i>
                        Print Report
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>
