<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #performanceReviewForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="review.id">{{"EditReview" | localize}}</span>
                        <span *ngIf="!review.id">{{"CreateReview" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="PerformanceReview_Comment">{{l("Comment")}}</label>
                        <p-editor [(ngModel)]="review.reviewComment" name="Comment" [style]="{'height':'150px'}" required></p-editor>
                    </div>

                    <div class="form-group">
                        <label for="PerformanceReview_Challenges">{{l("Challenges")}}</label>
                        <p-editor [(ngModel)]="review.challenges" name="Challenges" [style]="{'height':'150px'}"></p-editor>
                    </div>

                    <div class="form-group">
                        <label for="PerformanceReview_Recommendation">{{l("Recommendation")}}</label>
                        <p-editor [(ngModel)]="review.recommendation" name="Recommendation" [style]="{'height':'150px'}"></p-editor>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!performanceReviewForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>

    </div>
</div>